absl-py
appnope
astor
backcall
bleach
boto
boto3
botocore
bz2file
certifi
chardet
cycler
decorator
docutils
entrypoints
gast
gensim
grpcio
h5py
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kaggle
Keras
kiwisolver
llvmlite
Markdown
MarkupSafe
matplotlib
mistune
mpmath
nbconvert
nbformat
nltk
notebook
numba
numexpr
numpy
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
six
sklearn
smart-open
statsmodels
sympy
tensorboard
tensorflow
termcolor
terminado
testpath
tornado
tqdm
traitlets
urllib3
wcwidth
Werkzeug
widgetsnbextension
xlrd
xlwt
